<%- include('partials/header') %>

    <h1>Hello Admin</h1>
    
    <center>
    <div class="container">
      <div class="usersinfo">
        <p class="h2size">Total Users</p>
        <p><%= totalusers %></p>
      </div>
      
      <div class="usersinfo">
        <p class="h2size">Active Users</p>
        <p><%= activeusers %></p>
      </div>
      
      <div class="usersinfo">
        <p class="h2size">Avg Time</p>
        <p class="avgtime"><%= avgtime %> s</p>
      </div>
      
      <div class="usersinfo">
        <p class="h2size">1st Rank</p>
        <p><%= rank1.username %></p>
      </div>
    </div>

 

      <h2 style="padding: 10px;">Users</h2>
    <table class="tab-border">
      <tr>
        <th class="tablepad thcolor txt-center">No</th>
        <th class="tablepad thcolor " style="text-align: left;">UserName</th>
        <th class="tablepad thcolor txt-center">Delete User</th>
      </tr>
      <% var count = 1 %>
    <% users.forEach(function(user){ %>
          
      <tr class="tab-tr-border">
        <td>
          <p class="txt-center"><%= count %></p>
        </td>
        <td class="tablepad">
          <p style="text-align: left;"><%=user.username%></p>
        </td>
        <td class="tablepad txt-center">
          <form action="/deleteuser" method="post">
            <input type="checkbox" onClick="this.form.submit()" name="userid" value="<%=user._id%>"></input>
          </form>
        </td>
      </tr>
      <% count = count+1; %>

      <% }) %>
        </table>
      </center>

</body>
</html>


